@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20;
  margin: 100;
  background-color: white;
}

.navbar .logo {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 20px;
}

.navbar .logo:hover {
  cursor: pointer;
}

.navbar .nav ul li {
  color: black;
  display: inline-block;
  margin: 0 40px;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: white;
}

.navbar .nav ul li a{
  text-decoration: none;
  color: black;
  padding-bottom: 18px;
}


.navbar .nav a:hover {
  border-bottom: 5px solid black;
  font-weight: 650;
}

.navbar .hamburger-menu {
  display: none;
  margin: 20px;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .navbar a {
    display: none;
  }
  .navbar .hamburger-menu {
    display: flex;
  }
  .navbar {
    justify-content: space-between;
  }
}

/* Main Slide */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.img-slider {
  position: relative;
  width: 1000px;
  height: 500px;
  margin: 20px;
  background-color: #f1f1f1;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 50% 50%);
  cursor: pointer;
}

.img-slider .slide.active {
  clip-path: circle(150% at 50% 50%);
  transition: 1s;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.img-slider .slide .info {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  padding: 190px 30px;
}

.img-slider .slide .info h2 {
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.img-slider .slide .info p {
  color: white;
  font-size: 15;
  width: 60%;
  padding: 15px 5px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background-color: rgba(6, 6, 6, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background-color: black;
}

@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }
  .img-slider .slide .info {
    padding: 130px 20px;
  }
  .img-slider .slide .info h2 {
    font-size: 15px;
  }
  .img-slider .slide .info p {
    width: 70%;
    font-size: 12px;
  }
  .img-slider .navigation {
    bottom: 10px;
  }
  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media only screen and (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }
  .img-slider .slide .info {
    padding: 100px 20px;
  }
  .img-slider .slide .info h2 {
    font-size: 15px;
  }
  .img-slider .slide .info p {
    width: 80%;
    font-size: 10px;
  }
  .img-slider .navigation {
    bottom: 7px;
  }
  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media only screen and (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }
  .img-slider .slide .info {
    padding: 50px 10px;
  }
  .img-slider .slide .info h2 {
    font-size: 12px;
  }
  .img-slider .slide .info p {
    width: 90%;
    font-size: 9px;
  }
  .img-slider .navigation {
    bottom: 10px;
  }
}

/* Section Pengalaman */
section {
  background-color: #f1f1f1;
}

section h1 {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding-top: 80px;
}

.pengalaman {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 520px;
  height: 650px;
  margin: 50px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-img {
  background-color: #f1f1f1;
  height: 400px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.card-1 {
  background-image: url(pengalaman1.jpg);
}

.card:hover {
  cursor: pointer;
}

.card-2 {
  background-image: url(pengalaman2.jpg);
}

.card h2 {
  padding: 10px;
  font-size: large;
  font-family: "Poppins", sans-serif;
}

.card p {
  padding: 10px;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.card a {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
}

/* Section Ajakan */
section {
  background-color: #f1f1f1;
}

.ajakan {
  display: flex;
  flex-wrap: wrap;
}

.card-ajakan {
  margin: 50px 130px;
  padding: 30px;
  background-color: white;
  width: 520px;
  height: 500px;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-ajakan h2 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding: 10px 35px;
  font-weight: 600;
}

.card-ajakan p {
  padding: 10px 35px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 250px;
}

.card-ajakan a {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 50px;
}

.ajakan-img {
  background-color: white;
  position: absolute;
  right: 0;
  width: 630px;
  height: 520px;
  margin: 100px 130px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-size: cover;
}

.img-1 {
  background-image: url(ajakan.jpg);
}

@media (max-width: 820px) {
  .card-ajakan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  .card-ajakan h2 {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding: 2px 15px;
    font-weight: 500;
    padding: 10px;
  }

  .card-ajakan p {
    padding: 5px 15px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 200px;
    font-size: 12px;
    padding: 10px;
  }

  .card-ajakan a {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
  }

  .ajakan-img {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}

/* Merek-merek */
.merek-merek h1 {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

.merek-merek .merek {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.merek-merek .merek .img-merek {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 20px 50px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-size: cover;
}

.merek-merek .merek .img-merek:hover {
  cursor: pointer;
}

.img-merek1 {
  background-image: url(coca-cola.jpg);
}

.img-merek2 {
  background-image: url(fanta.jpg);
}

.img-merek3 {
  background-image: url(sprite.jpg);
}

.img-merek4 {
  background-image: url(schweppes.jpg);
}

.img-merek5 {
  background-image: url(mm.jpg);
}

.img-merek6 {
  background-image: url(frestea.jpg);
}

.merek-merek a {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 50px;
  padding-top: 20px;
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 255);
  width: 100%;
  height: 670px;
  padding: 50px 100px;
}

footer .logo-lokasi {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .logo-lokasi .lokasi a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.menu-footer {
  display: flex;
  color: white;
  padding-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-footer .about {
  display: flex;
  flex-direction: column;
  color: grey;
  line-height: 35px;
  font-family: "Poppins", sans-serif;
}

.menu-footer .help {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 40px;
  color: grey;
  line-height: 35px;
  font-family: "Poppins", sans-serif;
}

.menu-footer .legal {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 40px;
  color: grey;
  line-height: 35px;
  font-family: "Poppins", sans-serif;
}

.menu-footer .about a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.menu-footer .help a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.menu-footer .legal a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.menu-footer .sosmed a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 6px;
}

footer .copyright {
  margin: 40px;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

@media (max-width: 820px){
  footer {
    width: 100%;
    height: auto;
  }
  footer .menu-footer .about {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  footer .menu-footer .help {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  footer .menu-footer .legal {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}